main{
    min-height: 100vh;
}
.text-brown{
    color: rgb(204, 92, 17);
}
.allIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fontIndex{
    font-family: sans-serif;
    height: 15rem;
    
}
.loanCreated{
    display: flex;
    flex-direction: column;
    background-color:rgb(204, 92, 17) ;
    width: 85%;
}
.login-register{
    background-color:rgb(204, 92, 17) ;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    
}
.header-nav{
    background-color: rgb(207, 205, 205)!important;
}
.header-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.image-index{
    width: 100%;
    object-fit: cover;
}
.div-of-cards-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;   
}

.div-of-one-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-images{
    width: 50%;
    height: 15rem;
    transition: all 0.5s ease;

}
.index-images:hover{
    transform: scale(1.1);
}

.index-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttonCVV{
    height: 2rem;
    width: 3rem;
    font-size: smaller;
    font-weight: bold; 
    background-color: red;
    color: black;
    border-radius: 1rem;
    margin-left: -0.5rem;
}

.div-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.div-acccounts-main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.message-h2{
    width: 100%;
    margin-top: 10rem;
}
.div-of-credit-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.cards-styles{
    background-color: rgb(207, 205, 205);
    color: black;
    font-weight: bold;
    height: 20rem;
    width: 75%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.newAccount{
    height: 17rem;
    width: 100%;
    transition: all 0.5s ease;
    
}
.newAccount:hover{
    transform: scale(1.1);
}
.newAccountImage{
    height: 17rem;
    width: 75%;
    cursor: pointer;
}
.creditDebitCards{
    color: black;
    font-weight: bold;
    height: 9rem;
    margin-top: 1rem;
    width: 100%;
    font-size: small;
}
.cards-styles-loan{
    background-color: rgb(247, 131, 23);
    color: black;
    font-weight: bold;
    height: 12rem;
    width: 75%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
body{
    background-color: rgb(255, 255, 255);
    
}
.logo-header{
    width: 10rem;
    height: 10rem;
    align-self: center;
}
.Cards-logos{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.Cards-logosCD{
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    margin-top: -2rem;
}
.tittle{
    color: rgb(117, 49, 3);
    margin-left: 1rem;
}
.h1-T{
    font-size: 3rem;
}

header{
    background-color: rgb(207, 205, 205);
}
.textHeader{
    color: rgb(155, 56, 10) !important ;
    font-size: 2rem;
    margin-right: 1rem;
}
.social{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem!important;
    margin-left: 1rem;
}
.display-none{
    display: none;
}
.ul{
    color: #C0C0C0;
    list-style-type: none;
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
footer{
    height: 15rem;
    background-color: rgb(207, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.div-credit-card{
    transition: all 0.5s ease;
}
.div-credit-card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.div-credit-card:active {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.debitandCredirCards{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
}
.cardContainer{
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
    height: 9.6rem;
}
.dateCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ownerTypeCard{
    font-size: 1rem;
}
.DEBIT{
    background-color: rgb(230, 56, 56);
    color: black;
    font-weight: bold;
}
.CREDIT{
    background-color: rgb(80, 235, 80);
    color: black;
    font-weight: bold;
}
.TITANIUM{
    background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    
}
.GOLD{
    background: linear-gradient(
    to right,
    #ffd700, /* Gold */
    #fff0c1, /* Light Gold */
    #ffd700  /* Gold */
  );
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.SILVER{
    background: linear-gradient(
    to right,
    #C0C0C0, /* Silver */
    #F5F5F5, /* White Smoke */
    #C0C0C0  /* Silver */
  );
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
.option-color{
    color: black;
    font-weight: bold;
}
.formSendTransactions{
 background-color: rgb(204, 92, 17);
 justify-content: center;
 align-items: center;
 width: 85%;
 border-radius: 2rem;
}
.superiorofTranser{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.radios-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
table{
    border: #000000 solid 0.2rem;
    border-collapse:collapse;
    padding:5px;
    width: 100%;
}

table td{
    border: 0.1rem solid #000000;
}
.demo td {
    border:2px solid #000000;
    padding:5px;
}
.login-img{
    height: auto;
    width: 100%;
}
button{
    background-color: rgb(207, 205, 205)!important;
    color: #000000 !important;
    font-weight: bold !important;

}
@media screen and (min-width: 600px) and (max-width: 767px){
    
    .newAccountImage{
        width: 40%;
    }

    table{
        width: 30rem;
    }
    .cards-styles{
        width: 40%;
    }
    .header-div{
        flex-direction: row;
    }
    .cards-styles-loan{
        width: 40%;
    }
    .Cards-loan{
        width: 15rem;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        height: 5rem;
    }
    .debitandCredirCards{
        flex-direction: column;
    }
    .cardContainer{
        height: 12rem;
        width: 50%;
    }
    .dateCards{
        flex-direction: row;
        justify-content: space-between;
    }
    .Cards-logosCD{
        width: 4rem;
        height: 4rem;
    }
    .ownerTypeCard{
        font-size: 1.5rem;
    }

}
@media screen and (min-width: 768px){
    .fontIndex{
        height: 16rem;
    }
    .formSendTransactions{
        width: 40%;
    }
    .newAccountImage{
        width: 30%;
        height: 20rem;
    }
    table{
        width: 100%;
    }
    .div-of-cards-index{
        flex-direction: row;
        flex-wrap:wrap ;
    }
    .login-register{
        width: 60%;
        flex-direction: row;
    }
    .div-of-one-card{
        width: 50%;
        
        flex-direction: row;
    }
    .image-index{
        object-fit: inherit ;
        height: 23rem;
    }
    .cards-styles{
        width: 25rem;
    }
    .cards-styles-loan{
        width: 25rem;
    }
    .header-div{
        flex-direction: row;
    }
    .Cards-loan{
        width: 15rem;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        height: 5rem;
    }
    .debitandCredirCards{
        flex-direction: column;
    }
    .cardContainer{
        height: 12rem;
        width: 55%;
        margin-left: 1rem;
        margin-right: 1rem;

    }
    .dateCards{
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
    }
    .Cards-logosCD{
        margin-top: 0.1rem;
        width: 2rem;
        height: 2rem;
    }
    .containerAllCards{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .creditCardsANDDebit{
        width: 50%;
    }
    .ownerTypeCard{
        font-size: 1rem;
    }
    .creditDebitCards{
        font-size: medium;
    }
    .login-img{
        height: auto;
    }
    .loanCreated{
        width: 50%;
    }
}