<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/Favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Homebanking | Index</title>

</head>
<body>
    <header>
            <div class="d-flex  header-div" >
                <h1 class="display-none" >Capybank</h1>
            <nav class="navbar navbar-expand-lg bg-body-tertiary header-nav ms-1">
              <div class="container-fluid ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active " aria-current="page" href="#"> <span class="textHeader fw-bold" > Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="./pages/accounts.html"> <span class="textHeader fw-bold " > Account</span> </a>
                    </li>
                    <li>
                      <a class="nav-link active" href="./login.html"> <span class="textHeader fw-bold " > Sing in</span></a>
                    </li>
                    <li>
                      <a class="nav-link active" href="./register.html"> <span class="textHeader fw-bold " > Sing up</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            
            <img src="./images/Capybank.png" alt="Capybank " class="logo-header">

          </div>
    </header>

    <main>
      <div id="app">
      <div class="w-100 index-div mb-4" >
        <img src="./images/indexBanner.jpg" alt="index image" class="image-index">
      </div>
      <div class="allIndex">
      <div class="login-register rounded"> 
      <div class="d-flex flex-column justify-content-center align-items-center mt-2 w-50 ">
        
        <form class="w-75 mb-4 mt-5" id="clientFormulary" @submit.prevent="submitForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label w-100 fs-5 fw-bold text-center">Email address</label>
                <input type="email" class="form-control w-100" v-model="email" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label w-100 fs-5 fw-bold text-center">Password</label>
                <input type="password" class="form-control w-100" v-model="password" id="password">
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column">
            <button type="submit" class="btn btn-primary w-50">Login</button>
            <p class="text-center mt-2 fs-4">or</p>
            <a href="./register.html" class="fs-4 fw-bold"> <p class="text-center">Register</p></a>
          </div>
        </form>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h3>Welcome to Capybank</h3>
      <p class="text-center fs-5 me-1" >"Where your money grows like Sturies"</p>
      <h4>Login or register  </h4>
      <h4 class="text-center">for access to all promotions and discunts!</h4>
      <img src="./images/Capybank.png" alt="Capybank " class="logo-header">
    </div>
  </div>
      <div class="w-100 div-of-cards-index">
        <div class="div-of-one-card mb-3">
        <img src="./images/Banner2.jpg" alt="credit cards in hands image" class="index-images rounded">
        <div class="mt-2 mb-2 fontIndex">
          <h2 class="text-center text-brown">Apply for your card</h2>
          <p class="text-center fw-bold ">You only need one account</p>
           <p class="text-center fw-bold">the first one is free and you don't pay maintenance</p> 
            <p class="text-center fw-bold">Discunts in participating businesses!</p>
        </div>
        </div>
        <div class="div-of-one-card mb-3">
          <img src="./images/banner3.png" alt="discounts" class="index-images rounded">
          <div class="mt-2 fontIndex">
          <h2 class="text-center text-brown">Pay with our cards and receive discounts:</h2>
          <p class="text-center fw-bold"> Monday to Thursday 15% on pizzas</p>
          <p class="text-center fw-bold">Wednesdays 20% on women's day</p>
          <p class="text-center fw-bold">Saturdays and Sundays 10% on drinks</p>
        </div>
        </div>
        <div  class="div-of-one-card mb-3">
          <img src="./images/banner4.png" alt="comunicating" class="index-images rounded">
          <div class="mt-2 fontIndex ">
            <h2 class="text-center text-brown">Chat with us 24/7 on WhatsApp</h2>
            <p class="text-center fw-bold">It doesn't matter when you have doubts.</p>
            <p class="text-center fw-bold">We are always there for you </p>
            <p class="text-center fw-bold">every day and at any time</p>
          </div>
        </div>
        <div class="div-of-one-card mb-3">
          <img src="./images/banner5.png" alt="old man with tablet" class="index-images rounded">
          <div class="mt-2 fontIndex" >
            <h2 class="text-center text-brown">You can take out loans anywhere</h2>
            <p class="text-center fw-bold"> It's easy, fast and with the minimum requirements of the market</p>
            <p class="text-center fw-bold">We will be 24/7 to answer any query on Whatsapp</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>

    <footer >
      <div class="d-flex justify-content-center align-items-center">
        <a href="https://es-la.facebook.com/"> <img src="./images/icons8-meta-50.png" alt="meta-social-icon" class="social"></a>
        <a href="https://twitter.com/"><img src="./images/icons8-twitter-50.png" alt="twitter-social-icon" class="social"></a>
       <a href="https://www.instagram.com/?hl=en"> <img src="./images/icons8-instagram-50.png" alt="instagram-social-icon" class="social"></a>
       <a href="#"><img src="./images/icons8-whatsapp-100.png" alt="WhatsApp" class="social"></a>
      </div>
      <div><h2 class="textHeader text-center">Cohort 51 JAVA</h2></div>
      <div><h2 class="textHeader text-center me-1">Sapio Luciano</h2></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>