.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem ;
}
.chip{
    color: yellow;
    height: 5rem;
    width: 5rem;
}
.cards-styles{
    background-color: rgb(226, 117, 16);
    color: black;
    font-weight: bold;
    height: 15rem;
    width: 20rem;
}
body{
    background-color: rgb(146, 216, 146)
    
}
.logo-header{
    width: 5rem;
    height: 4rem;
    margin-right: 3rem;
    
}
.Cards-logos{
    width: 2rem;
    height: 2rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
.tittle{
    margin-right: 13rem;
    color: brown;
}
.div-of-cards{
    margin-top: 5rem;
}
header{
    background-color: rgb(255, 255, 255);
}