<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Homebanking | Your Account</title>
</head>
<body>
    <header  >
      <div class="d-flex  header-div" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary header-nav ms-1">
          <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active ms-1" aria-current="page" href="../index.html"> <span class="textHeader fw-bold " > Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active ms-2" href="#"> <span class="textHeader fw-bold " > Account</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active ms-2" href="./cards.html"> <span class="textHeader fw-bold " > Cards </span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
        <img src="../images/Capybank.png" alt="Capybank " class="logo-header">
      </div>
    </header>



    <main>
        <div id="app" class="d-flex div-acccounts-main mt-3">
          <h2 v-if="clients">Hello, Capy {{ clients.name }} {{clients.lastName}}!</h2>
          <h2 class="mt-5">Your Capyccounts:</h2>
          
            <div class="div-of-credit-cards">
            <div class="card cards cards-styles div-credit-card" v-for="account in accounts">
              <a class="w-100 text-decoration-none " v-bind:href="`./account.html?accountId=${account.id}`">
              <div class="d-flex flex-row justify-content-between align-items-center w-100 mt-2">
                <h5 class="card-title  fs-2 text-dark fw-bold ">USD${{ Number(account.balance).toLocaleString('de-DE')}}</h5>
                <img src="../images/icons8-capybara-100.png" alt="banco image" class="Cards-logos">
                </div>
              <div class="card-body ">
                <p class="card-text text-dark fw-bold fs-3 ">Account Number:  {{ account.number }}</p>
                <p class="card-text text-dark fw-bold " > Creation Date:   {{account.currentDate}}</p>
                <p class="card-text text-dark fs-2 text-center fw-bold text-decoration-underline" > See transactions </p>
              </div>
              </a>
            </div>
            <div>
              <h2 class="text-center mt-5" >Your Loans:</h2>
            <div class="div-of-credit-cards">
              
              <div class="card cards  cards-styles-loan div-credit-card " v-for="loan in loans">
                <div class="card-body ">
                  <h5 class="card-title fs-2 text-dark fw-bold" >Loan:  {{ loan.name }}</h5>
                  <h5 class="card-title fs-3 text-dark fw-bold">USD${{ Number(loan.amount).toLocaleString('de-DE')}}</h5>
                  <p class="card-text  fs-3 text-dark fw-bold " > Total Payments:   {{loan.payments}}</p>
                </div>
            </div>
            <h2 class="message-h2 text-center">
                    {{message}}
            </h2>
          </div>
            </div>
            
        </div>
        </div> 
    </main>
    <footer >
      <div class="d-flex justify-content-center align-items-center">
        <img src="../images/icons8-meta-50.png" alt="meta-social-icon" class="social">
        <img src="../images/icons8-twitter-50.png" alt="twitter-social-icon" class="social">
        <img src="../images/icons8-instagram-50.png" alt="instagram-social-icon" class="social">
      </div>
      <div><h2 class="textHeader text-center">Cohort 51 JAVA</h2></div>
      <div><h2 class="textHeader text-center me-1">Sapio Luciano</h2></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JS/accounts.js"></script>
</body>
</html>