<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/Favicon.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <title>Homebanking | Loans</title>
    </head>
    <body>
      
        <header  >
          <div class="d-flex  header-div" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary header-nav ms-1">
              <div class="container-fluid ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active " aria-current="page" href="../index.html"> <span class="textHeader fw-bold " > Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="./accounts.html"> <span class="textHeader fw-bold " > Account</span> </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="./cards.html"> <span class="textHeader fw-bold " > Cards </span></a>
                    </li>
                    <li>
                      <a class="nav-link active ms-2"  href="./transfer.html" > <span class="textHeader fw-bold " > Transfers </span></a>
                    </li>
                    <li>
                      <a class="nav-link active ms-2"  href="#" > <span class="textHeader fw-bold " > Loans </span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            
            <img src="../images/Capybank.png" alt="Capybank " class="logo-header">
          </div>
        </header>



    <main>
      <div class="w-100 index-div" id="app">
        <div class=" loanCreated rounded mt-5">
        <form @submit.prevent="sendLoan" class="d-flex flex-column w-100 justify-content-center align-items-center">
          <h2 class="text-center mt-2" >Select your Loan</h2>
          <div class="d-flex flex-row flex-wrap">
            
            <div v-for="loan in loans" :key="loan.id" class="form-check">
              <input class="form-check-input " type="radio" name="loanRadio" :id="loan.id" :value="loan.id" v-model="selectedLoan">
              <label class="form-check-label me-2" :for="loan.id">
                {{ loan.name }}
              </label>
            </div>
          </div>
          
        
        <div v-if="selectedLoan">
          <label for="paymentSelect">number of payments:</label>
          <select class="form-select" id="paymentSelect" v-model="payment">
            <option v-for="payment in getLoanById(selectedLoan).payment" :key="payment" :value="payment">
              {{ payment }}
            </option>
          </select>
        </div>
        <div v-if="selectedLoan" class="d-flex flex-column justify-content-center align-items-center">
          <p class="text-center fw-bold fs-3">Max. amount: {{Number(getLoanById(selectedLoan).maxAmount).toLocaleString('de-DE') }}</p>
          <label for="amountInput" class="text-center fs-5">Enter the amount without any dots or commas <span class="fw-bold"> (the max amount have a 20% in >12 payments or 60% in < 32 payments or 80% in others ) </span>:</label>
          <input type="number" id="amountInput" v-model="amount">
        </div>
        <h2 class="text-center">Select your account to deposit the Loan</h2>
        <div class="d-flex flex-row flex-wrap">
          
          <div v-for="account in accounts" :key="account.number" class="form-check">
            <input type="radio" :id="account.number" :value="account.number" v-model="accountNumber">
            <label :for="account.number">{{ account.number }}</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary  mb-3 mt-3">Create loan</button>
      </form>
    </div>

<div>
  <div class="loanCreated w-100 mt-5 ">
    
    <table >
      <thead>
        <tr>
          <th colspan="2" class="text-center">Your Loan:</th>
        </tr>
      </thead>
        <tbody>
      <tr>
        <td>Loan type:</th>
        <td v-if="selectedLoan">{{ getLoanById(selectedLoan).name }}</td>
      </tr>
      <tr>
        <td>Amount:</th>
        <td v-if="amount"> {{ Number(showIncrement()).toLocaleString('de-DE')}}</td>
      <tr>
        <td>Account number:</th>
        <td v-if="accountNumber">{{ accountNumber }}</td>
      <tr>
        <td>payments:</th>
        <td v-if="payment">{{ payment }}</td>
      <tr>
        <td>total for payment:</th>
          <td>{{ (showIncrement() / payment).toLocaleString('de-DE') }}</td>

      </tr>

      </tbody>
    </table>
  </div>
  
</div>

        </div> 
    </main>
  


    <footer >
      <div class="d-flex justify-content-center align-items-center">
        <a href="https://es-la.facebook.com/"> <img src="../images/icons8-meta-50.png" alt="meta-social-icon" class="social"></a>
        <a href="https://twitter.com/"><img src="../images/icons8-twitter-50.png" alt="twitter-social-icon" class="social"></a>
       <a href="https://www.instagram.com/?hl=en"> <img src="../images/icons8-instagram-50.png" alt="instagram-social-icon" class="social"></a>
       <a href="#"><img src="../images/icons8-whatsapp-100.png" alt="WhatsApp-icon" class="social"></a>
      </div>
      <div><h2 class="textHeader text-center">Cohort 51 JAVA</h2></div>
      <div><h2 class="textHeader text-center me-1">Sapio Luciano</h2></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="../js/loan-aplication.js"></script>
    
</body>
</html>